button {
    background-color: transparent;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px;
}

.cartIcon {
    width:100%;
    height: 100%;
}