.primary {
    background-color: var(--primary-color);
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px;
    color: white;
    padding: 8px
}

