.body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-height: 200px;
    border: 1px solid black;
    padding: 12px;
    overflow: hidden;
}

.img{
    min-height: 150px;
}