.main {
    color: black;
    margin: 12px;
    height: 100%;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    grid-template-rows: 1fr;
    margin: 12px;
    column-gap: 12px;
    row-gap: 12px;
    overflow: scroll;
    height: 100%;
}