.main {
    display: flex;
    justify-content: space-between;
    padding: 12px;
    color: black;
    gap: 24px;
    overflow: hidden;
}

.main h2 {
    margin: 0;
}

.detailColumn {
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.cartList{
    display: flex;
    flex-direction: column;
    overflow: auto;
    gap: 12px;
}

.cartItem {
    display: flex;
    gap: 24px;
    padding: 12px 24px 12px 12px;
    height: 259px;
    border-bottom: 1px solid var(--border-color);
}

.cartItem img {

    height: 100%;
    aspect-ratio: 1;
    object-fit: contain;
}

.rightDiv {
    display: flex;
    flex-direction: column;
    padding: 8px 0;
}

.rightDiv p {
    max-width: 75ch;
}

.titleAndPrice {
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: 12px
}

.bottomRow {
    display: flex;
    justify-content: start;
    gap: 12px;
    align-items: center;
    margin-top: auto;
}

.emptyMessage {
    padding: 0;
    margin: 0;
}