.main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.heroDiv {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    color: black;
    margin-top: auto;
    margin-bottom: auto;
}

.heroDiv h1, h2, h3, h4 {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

h2 {
    margin-bottom: 24px;
}

