.div {
    display: flex;
    align-items: center;
    background-color: var(--border-color);
    border-radius: 100px;
    height: 32px;
    padding: 0 6px;
    gap: 12px
}

.div button {
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
    background-color: transparent;
    height: 100%;
    font-size: 1.2rem;
    text-align: center;
    padding: 0 0 0 0;
    width: 32px
}