.headerDiv {
    display: flex;
    justify-content: space-between;
    /* background-color: grey; */
    padding: 8px 12px;
}

.rightSide {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem
}

img {
    height: 40px
}

.headerNavButtons {
    color: black;
    display: flex;
    gap: 12px;
    flex-direction: row;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
    & li {
        margin: 0;
        padding: 0;
    }
}

.link {
    color: black;
    font-weight: normal;
}


.link.active {
    font-weight: bold;
}

.pending {
    opacity: 0.6;
}